body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e3e3e3;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 520px;
  margin: 100px auto;
  padding: 2rem;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 1rem 1rem 10rem 1rem;
}

form {
  display: flex;
  flex-direction: column;
}
.form_container {
  display: flex;
  gap: 1rem;
}
.form-output-wrapper {
  display: flex;
  flex-direction: column; /* Stack the form and output vertically */
}
input {
  width: 100px; /* Adjust the width as needed */
  padding: 8px; /* Adjust the padding as needed */
  font-size: 10px;
  text-align: left;
  font-weight: bold; /* Adjust the font size as needed */
}

.block {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 15px;
    margin: 0;
  }
}

footer {
  text-align: center;
}


button img {
    fill: hsl(259, 100%, 65%);
}